.trending-content__block {
  padding-top: 40px;

  @media (min-width: $desktop-width) {
    padding-top: 80px;
  }
}



.trending-content__buttons {
  padding-top: 40px;

  @media (min-width: $desktop-width) {
    padding-top: 80px;
  }
}