%fontMarcellusNormal {
  font-family: 'Marcellus', serif;
  font-weight: 400;
}

%fontMulishBold {
  font-family: 'Mulish', sans-serif;
  font-weight: 800;
}

%fontMulishNormal {
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
}
