$main-text-color: #fff;
$text-on-light-background: #000;
$main-background-color: #000;
$control-panel-background: #00000067;
$secondary-text-color: #C2C2C2;
$footer-background: #101012;
$line-under-preview: #2F2E2E;
$input-background-color: #fff;
$video-player-background-color: #dad8d8;